@page
@model Retegan_Alexandru_Proiect_App_Web.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Buyer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliveryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
